@import "tailwindcss";

html, body, #app {
    min-height: 100vh;
}

.font-dance {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.prose li {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.5;
}

.prose p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
